<%= form_for(@frontend_exploration) do |f| %>
  <% if @frontend_exploration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frontend_exploration.errors.count, "error") %> prohibited this frontend_exploration from being saved:</h2>

      <ul>
      <% @frontend_exploration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
