<h1>Project::Settings#show</h1>

<% @project_setting.name %>

<div id="button">ajax</div>
<div id="post">post</div>
<div id="navigation" style="width: 20%; height: 100%; overflow: scroll; float: left"></div>
<%= render "inline_js" %>
<%= render "detail_view" %>