<script id="vertex-shader" type="x-shader/x-vertex">

attribute vec2 a_position;
attribute float a_color;

uniform float u_size;
uniform int u_discrete;

invariant varying lowp float v_color;


void main(void) {
  gl_Position = vec4(a_position, 0.0, u_size);
  v_color = a_color;
}

</script>
<script id="fragment-shader" type="x-shader/x-fragment">

invariant varying lowp float v_color;

const int size = 101; 
uniform lowp float u_step[size];
uniform lowp vec4 u_colorValues[size];
uniform int u_length;
uniform int u_discrete;

void main(void) {
  lowp float col = v_color;
  mediump vec4 colors1, colors2, colordiff, newcol;
  mediump float stepwidth, currentStep;

  mediump float r = 0.0, g = 0.0, b = 0.0, rWidth, gWidth, bWidth;
  for(int i = 1; i < size; i++) {
    if(u_step[i] >= col) {
      stepwidth = u_step[i] - u_step[i-1];
      if(stepwidth == 0.0) {
        stepwidth == 0.000000000001;
      }
      if(u_discrete == 0) {
        currentStep = (v_color - u_step[i-1]) / stepwidth;
        colors1 = u_colorValues[i-1];
        colors2 = u_colorValues[i];
        rWidth = colors2.r - colors1.r;
        gWidth = colors2.g - colors1.g;
        bWidth = colors2.b - colors1.b;
        r = colors1.r + currentStep * rWidth;
        g = colors1.g + currentStep * gWidth;
        b = colors1.b + currentStep * bWidth;
        newcol = vec4(r,g,b,1.0);
        break;
      } else {
        colors1 = u_colorValues[i];
        r = colors1.r;
        g = colors1.g;
        b = colors1.b;
        newcol = vec4(r,g,b,1.0);
        break;
      }
    }
  }
  gl_FragColor = newcol;
}

</script>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">POWDER</a>

        <div id="min-quality" class="input-group input-group-sm quality-changer">
          <span class="input-group-addon" id="min-value-addon">min</span>
          <span><input type="number" name="min-value" id="min-value" class="form-control input-group" value="0.00" min="0.00" max="0.99" step="0.01" pattern="\d\.\d\d" /></span>
        </div>
        <div id="max-quality" class="input-group input-group-sm quality-changer">
          <input type="number" name="max-value" id="max-value" class="form-control" value="1.00" min="0.01" max="1.00" step="0.01" pattern="\d\.\d\d" /></span>
          <span class="input-group-addon" id="max-value-addon">max</span>
        </div>
      <div id="projection-style" class="input-group input-group-sm">
      <span class="glyphicon glyphicon-eye-open input-group-addon" id="eye-addon"></span> <select id="projection-style-select" class="form-control" aria-describedby="eye-addon">
         <option id="continous-projection"  value="0" selected="selected" >continouos</option>
         <option id="discrete-projection" value="1">discrete</option>
      </select>
    </div>
    </div>
  </div>
</nav>

<% @project_setting.name %>

<!-- div id="button">ajax</div>
<div id="post">post</div>m-->
<div id="content-wrapper">
  <%= render "detail_view" %>
  <div id="navigation"></div>
  <div id="smd">
    <div id="current">
      <div id="current-progress-switch">No current run selected</div>
    </div>
    <div id="order-bar"></div>
    <div id="runlist"></div>

  </div>

  <div id="projection-control"> 

    <div id="projection-y">
      <select id="projection-y-select" class="axis-selector" name="projection-y"></select><span class="glyphicon glyphicon-arrow-up">
      
    </div>
    <div id="projection-x">
      <select id="projection-x-select" class="axis-selector" name="projection-x"></select><span class="glyphicon glyphicon-arrow-right">
    </div>



  </div>
  <div id="webgl-area" style="position: absolute; top: 80px; left: 720px">
    <!--<canvas id="projection-view" width="200" height="200"></canvas>-->
    <div style="clear: both"></div>
    <div id="legend-brush-group">
      <div id="legend-scale"></div>
      <canvas id="gl_legend" width="40" height="350" data-slider-max="350"></canvas>
      <div id="brush"></div>
    </div>
  </div>
  <div id="batch-panel">
    <div id="visual-cluster-wrapper">
      <div id="panel-colorpicker-wrapper">
        <input type="text" id="panel-colorpicker" style="float: right" />
      </div>
      <div id="visual-clusters">
      </div>

    </div>

  </div>
</div>
<%= render "inline_js" %>



