body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#content{
    margin: 2em;
}

#explorer {
    float: left;
    width: 700px;
}

#bottomscale {
    padding-left: 50px;
}

canvas {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 0;
}

.webgl-row {
    margin-bottom: 10px;
}

// .detailview {
//     width: 540px;
// }

// .detailview .singles {
//     margin-left: 55px;
// }

#explorer .spaceremover {
    font-size: 0;
}

#explorer .scale {
    font-size: 0.75em;
    max-width: 200px;
    float: left;
}

.scale.vertical {
    width: 50px;
    height: 200px;
}

.scale text {
    font-size: 1em;
}

.main-line {
    fill: none;
    stroke: steelblue;
}

.measured-line {
    fill: none;
    stroke: purple;
}


.densityPlot {
    padding: 0;
    
    margin: 0;
    margin-right: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bottomscale .scale {
    margin-right: 10px;
}


#collector {
    float: left;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    //stroke: steelblue;
    stroke-width: .5px;
    pointer-events: all;
}

.dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#lines {
    float: right;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    pointer-events: all;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: .5px;
    
}


.sigles {
    position: relative;
}
.singles .singlePeak {
    float: left;
}

.singlePeak .line {
    stroke: steelblue;
}

.active .line {
    stroke: green;
}

.main svg{
    /*background-color: #efe;*/
}

.singles svg{
    width: 60px;
    height: 40px;
    border: 0.5px solid black;
}

g.peak {
    height: 100%;
}

#detailview-1 {
  float: right;
  position: relative;
  .main, .error {
    position: relative;
    .brush {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}



.line[data-active="true"], .line[data-hover="true"][data-active="true"]{
    stroke: red;
}

.line[data-hover="true"] {
    stroke: orange;
}

#detailview-1 .calculating {
  position: absolute;
  font-size: 60px;
  color: green;
  top: 45%;
  left: 15%;
  display: none;
}
/* D3 */

.overlay {
  //fill: none;
  opacity: 0.033;
  pointer-events: all;
}

#navigation, #comparison {
  height: 400px;
  overflow-y: scroll;
  float: left;
}

#navigation {
    width: 450px;
}

#comparison {
  padding-right: 20px;
  position: relative;
}

.muted {
  opacity: 0.5
}


#webgl-legend {
  width: 520px;
  float: right;
  height: 120px;
}

#brush {
  width: 500px;
  height: 20px;
  // border: 1px solid gray;
}

.handle:hover {
  cursor: pointer
}

.handle:active {
  cursor: move
}

.slider .domain {
  fill: none;
  stroke: gray;
  stroke-width: 1px

}

#webgl {
  // background-color: green
}

#brush {
  position: relative;
}

#detailview-1 {
  .main {
    position: absolute;
    right: 100px;
  }
  .legend {
    float: right;
    padding-top: 20px
  }
  .error {
    position: absolute;
    right: 100px;
    top: 360px;
  }
}

td.chi2 {
  text-align: right
}

table.fixedheader {
  position: fixed;
  background-color: white;
  margin-top: -5px;
}

table.rundisplay {
  margin-top: 60px
}

th.id {
  width: 123px
}

td.chi2-bar {
  width: 32px;
  text-align: left;
  vertical-align: bottom;
  div.bar {
    background-color: green;
    width: 30px;
    height: 45px;
    margin-left: 2px;
    border: 1px solid gray;
    margin-bottom: 3px;
  }
}

td.chi2-val {
  width: 53px;
  vertical-align: bottom;
  text-align: right;
  font-size: 12px
}

#headline {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 55px;
  width: 99.75%;
  // border-bottom: 1px solid black;
  margin-bottom: 5px;
  z-index: 10000;
  // background-color: black;
  // color: white;
  // border-bottom-right-radius: 30px;
  h1 {
    margin-left: 20px;
    // color: '#e8e8e8';
    // font-weight: 200
  }
}

#content-wrapper {
  margin-top: 60px
}

td.run-id {
  font-size: 9px;
  vertical-align: bottom;
}


#webgl-area {
  .complex-view{
    float: left;
    position: relative;
  }
  // .complex-slide{
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  // }
}

.axis{
  font-size: 8px;
}

.main .extent {
  stroke: red;
  fill: red;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.error .extent {
  stroke: green;
  fill: green;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.area.block {
  stroke: red;
  stroke-opacity: .6;
  fill: red;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

.error .brush {
  .resize {
    &.n, &.s {
      cursor: move !important;
    }
  }
  .background {
    cursor: ew-resize !important;
  }
}   

td.thumbnail {
  border: none !important;
  border-radius: 0;
  margin-bottom: 0px;
  padding: 0;
}


.set-exclude {
  position: absolute;
  right: 0;
  top: 100px;
}

.create-overview {
  position: absolute;
  right: 0;
  top: 140px;
  color: white !important;
}
