body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px !important;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#content{
    margin: 2em;
}

#explorer {
    float: left;
    width: 700px;
}

#bottomscale {
    padding-left: 50px;
}

canvas {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 0;
}

.webgl-row {
    margin-bottom: 10px;
}

// .detailview {
//     width: 540px;
// }

// .detailview .singles {
//     margin-left: 55px;
// }

#explorer .spaceremover {
    font-size: 0;
}

#explorer .scale {
    font-size: 0.75em;
    max-width: 200px;
    float: left;
}

.scale.vertical {
    width: 50px;
    height: 200px;
}

.scale text {
    font-size: 1em;
}

.main-line {
    fill: none;
    stroke: steelblue;
}

.measured-line {
    fill: none;
    stroke: purple;
}


.densityPlot {
    padding: 0;
    
    margin: 0;
    margin-right: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bottomscale .scale {
    margin-right: 10px;
}


#collector {
    float: left;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    //stroke: steelblue;
    stroke-width: .5px;
    pointer-events: all;
}

.dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#lines {
    float: right;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    pointer-events: all;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: .5px;
    
}


.sigles {
    position: relative;
}
.singles .singlePeak {
    float: left;
}

.singlePeak .line {
    stroke: steelblue;
}

.active .line {
    stroke: green;
}

.main svg{
    /*background-color: #efe;*/
}

.singles svg{
    width: 60px;
    height: 40px;
    border: 0.5px solid black;
}

g.peak {
    height: 100%;
}

#detailview-1 {
  float: left;
  position: relative;
  width: 640px;
  .main, .error {
    position: relative;
    .brush {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}



.line[data-active="true"], .line[data-hover="true"][data-active="true"]{
    stroke: red;
}

.line[data-hover="true"] {
    stroke: orange;
}

#detailview-1 .calculating {
  position: absolute;
  font-size: 60px;
  color: green;
  top: 45%;
  left: 15%;
  display: none;
}
/* D3 */

.overlay {
  //fill: none;
  opacity: 0.033;
  pointer-events: all;
}

#comparison {
  height: 400px;
  overflow-y: scroll;
  
}

#navigation {
    width: 435px;
    float: right;
    overflow-y: scroll;
    height: 620px;
}

#comparison {
  padding-right: 20px;
  position: absolute;
  top: 430px;
  left: 580px;
}

.muted {
  opacity: 0.5
}


#webgl-legend {
  width: 520px;
  float: right;
  height: 120px;
}

#gl_legend {
  margin-top: 7px;
  cursor: pointer;
}

#brush {
  width: 10px;
  height: 500px;
  // border: 1px solid gray;
  position: relative;
  float: right;
  margin-right: 15px;
}

#legend-brush-group {
  position: relative;
  margin-left: 177px;
  width: 65px;
  height: 400px;
}

#legend-scale {
  position: absolute;
  left: -30px;
  .sliderscale {
    path.domain {
      display: none;
    }
    .tick line {
      stroke: black;
    }
    font-size: 9px;
  }
}

path.errorline:hover {
  stroke: black;
}

.handle:hover {
  cursor: pointer
}

.handle:active {
  cursor: move
}

.slider .domain {
  fill: none;
  stroke: gray;
  stroke-width: 1px

}


#detailview-1 {
  .main {
    position: absolute;
    right: 100px;
  }
  .legend {
    float: right;
    padding-top: 20px;
    .legend-entry {
      cursor: pointer;
    }
  }
  .error {
    position: absolute;
    right: 100px;
    top: 380px;
  }
}

td.chi2 {
  text-align: right
}

table.fixedheader {
  position: fixed;
  background-color: white;
  margin-top: -5px;
}

table.rundisplay {
  margin-top: 60px
}

th.id {
  width: 123px
}

td.chi2-bar {
  width: 32px;
  text-align: left;
  vertical-align: bottom;
  div.bar {
    background-color: green;
    width: 30px;
    height: 45px;
    margin-left: 2px;
    border: 1px solid gray;
    margin-bottom: 3px;
  }
}

td.chi2-val {
  width: 53px;
  vertical-align: bottom;
  text-align: right;
  font-size: 12px
}

#headline {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 55px;
  width: 99.75%;
  // border-bottom: 1px solid black;
  margin-bottom: 5px;
  z-index: 10000;
  // background-color: black;
  // color: white;
  // border-bottom-right-radius: 30px;
  h1 {
    margin-left: 20px;
    // color: '#e8e8e8';
    // font-weight: 200
  }
}

#content-wrapper {
  margin-top: 60px
}

td.run-id {
  font-size: 9px;
  vertical-align: bottom;
}


#webgl-area {
  .complex-view{
    float: left;
    position: relative;
  }
  // .complex-slide{
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  // }
}

.axis{
  font-size: 8px;
}

.main .extent {
  stroke: red;
  fill: red;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.error .extent {
  stroke: green;
  fill: green;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.area.block {
  stroke: red;
  stroke-opacity: .6;
  fill: red;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

.error .brush {
  .resize {
    &.n, &.s {
      cursor: move !important;
    }
  }
  .background {
    cursor: ew-resize !important;
  }
}   

td.thumbnail {
  border: none !important;
  border-radius: 0;
  margin-bottom: 0px;
  padding: 0;
}


.set-exclude {
  position: absolute;
  right: 235px;
  top: 320px;
}

.create-overview {
  position: absolute;
  right: 110px;

  color: white !important;
  &.new-base-selection {
    top: 320px;
  }
  &.new-sub-selection {
    top: 640px;
  }
}



#visual-cluster-wrapper {
  position: relative;
  .cluster.region {
    color: #3b87d4;
    cursor: pointer;
  }
}



#panel-colorpicker-wrapper {
  float: right;
  display: none;
}

#smd {
  position: absolute;
  top: 340px;
  left: 600px;
  height: 440px;
  width: 240px;
  z-index: 1000000;
  .run-id {
    width: 40px;
  }
  .run-loaded {
    width: 20px;
  }
  #current {
    position: relative;
    height: 58px;
    background-color: rgba(166,206,227, 0.125);
    #current-progress-switch {
      position: absolute;
      top: 18px;
      left: 16px;
    }

    .run-loaded {
      input {
        display: none;
      }
    }
  }
  #order-bar {
    height: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

  }
  #runlist {
    height: 270px;
    width: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    .run {
      width: 240px;
      .run-loaded {
        text-align: center;
      }
      &:hover {
        background-color: rgba(178,223,138, 0.125);
        .run-loaded {
          text-align: center;
          background-color: #ffffff !important;
        }
      }
      .run-loaded:hover {
        background-color: rgba(255,127,0, 0.08125) !important;
        &~td {
          background-color: rgba(255,127,0, 0.08125) !important;
        }
      }
      .clickable {
        cursor: pointer;
        &.highlightable {
          &:hover {
            background-color: rgba(178,223,138, 0.25);
          }
        }
      }
    }
  }

  td.value {
    width: 30px;
    height: 53px;
    position: relative;
  }
  div.bar {
    border: 1px solid black;
    width: 15px; 
    position: absolute;
    bottom: 3px;
    left: 8px;
  }

}


/* ======= order-bar ========= */

#order-bar {
  padding-left: 20px;
  .segment {
    height: 12px;
    width: 30px;
    float: left;
    text-align: center;
    font-size: 9px;
    cursor: pointer;
    &#segment-id {
      width: 40px
    }
    &:hover {
      background-color: #eee;

    }

  }
}


/* ======= projection-control ========= */

#projection-control {
  width: 140px;
  height: 40px;

  position: absolute;
  top: 265px;
  left: 570px;
  text-align: right;
  .axis-selector {
    margin-right: 4px;
  }
}

#projection-style {
  position: absolute;
  top: 10px;
  left: 765px;
  width: 180px;
}



